<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>grid component</title>
</head>
<body>
<div id="app">
    <form>
    <input v-model="searchQuery">
        <input type="checkbox" @click="" v-model="caseSensitive" id="caseSensitive">
        <label for="caseSensitive">case Sensitive</label>
    </form>
    <my-grid
            :data="gridData"
            :col-names="dataColNames"
            :filter-string="searchQuery"
            :case-sensitive="caseSensitive"
    >
    </my-grid>
</div>
<script src="../dist/client-bundle.js"></script>
</body>
</html>